node-red/node-red.json
[{"id":"6ac1b1c3.df70d","type":"tab","label":"Controle de Acesso","disabled":false,"info":""},{"id":"374cba27.5ce046","type":"mqtt-broker","z":"","name":"","broker":"150.164.8.44","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"727076d.b168188","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c7b8ed4.0edd1","type":"ldap","z":"","server":"ldap.dcc.ufmg.br","port":"389","tls":false,"tlsCert":""},{"id":"ee00ef0.3d0f41","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1f33e222.12ef0e","type":"ui_group","z":"","name":"Default","tab":"ee00ef0.3d0f41","disp":true,"width":"6","collapse":false},{"id":"cf46c195.9e488","type":"mqtt in","z":"6ac1b1c3.df70d","name":"Cartao","topic":"cartao","qos":"2","broker":"374cba27.5ce046","x":250,"y":240,"wires":[["b4e322d9.d2e33"]]},{"id":"b4e322d9.d2e33","type":"function","z":"6ac1b1c3.df70d","name":"Editar Formato","func":"var idCard=flow.get('idCard') || {};\nidCard = msg.payload;\nvar newMsg={payload:\"cartao-\"+msg.payload.replace(/ /g,\"\")}\nflow.set(\"idCard\",idCard);\nreturn newMsg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["4e9a28c8.f1a0a8"]]},{"id":"4e9a28c8.f1a0a8","type":"ldap out","z":"6ac1b1c3.df70d","name":"Consulta Usuario","topic":"","base":"ou=People,dc=dcc,dc=ufmg,dc=br","filter":"brEduAffiliationType={{payload}}","server":"5c7b8ed4.0edd1","x":510,"y":240,"wires":[["aa39b8dd.4cc028"]]},{"id":"dd47bb5d.b31408","type":"mqtt out","z":"6ac1b1c3.df70d","name":"Porta","topic":"","qos":"","retain":"","broker":"374cba27.5ce046","x":1090,"y":240,"wires":[]},{"id":"924caa63.408a58","type":"ldap out","z":"6ac1b1c3.df70d","name":"Recupera Grupos","topic":"cn","base":"ou=Group,dc=dcc,dc=ufmg,dc=br","filter":"memberUid={{payload.uid}}","server":"5c7b8ed4.0edd1","x":830,"y":240,"wires":[["eebb6b31.85b3c8"]],"inputLabels":["msg"]},{"id":"aa39b8dd.4cc028","type":"function","z":"6ac1b1c3.df70d","name":"Converte Objeto","func":"var elementos = msg.payload[0].dn.split(',')\nvar dados = {};\nvar i;\nvar aux;\nfor (i = 0; i < elementos.length; i++) {\n aux=elementos[i].split('=');\n dados[aux[0]]=aux[1]\n}\nvar newMsg={payload: dados}\nreturn newMsg\n","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["924caa63.408a58"]]},{"id":"eebb6b31.85b3c8","type":"function","z":"6ac1b1c3.df70d","name":"Verifica autorização","func":"var idCard=flow.get('idCard') || {};\nvar i;\nvar perm=false;\nfor(i=0;i<msg.payload.length;i++){\n    if(msg.payload[i].cn==\"crc\"){\n        perm=true;\n    }\n}\nretorno={payload: [idCard,perm]}\nreturn retorno;","outputs":1,"noerr":0,"x":990,"y":140,"wires":[["dd47bb5d.b31408"]]}]
